.image-container {
  position: relative;
  display: inline-block; /* Isso faz com que o contêiner se ajuste ao tamanho da imagem */
}

.text-over-image {
  position: absolute;
  top: 50%; /* Centraliza verticalmente - ajuste conforme necessário */
  left: 50%; /* Centraliza horizontalmente - ajuste conforme necessário */
  transform: translate(
    -50%,
    -50%
  ); /* Ajuste fino para centralizar exatamente */
  color: white; /* Escolha a cor do texto */
  font-size: 20px; /* Tamanho do texto */
}
body {
  background-color: rgba(196, 247, 230, 0.966);
}
img {
  width: 200px;
}
a {
  text-decoration: none;
  color: blue;
}
